
/* ================================= 
  Base styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    color: #121212;
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
}

/* ================================= 
  Base styles
==================================== */

/* ---- Navigation ---- */

.name {
    font-size: 2em;
    margin: 0;
}

.name,
.main-nav a {
    display: block;
    color: black;
}

.main-nav li {
    font-weight: bold;
    padding: 0 15px; 
    font-size: 1.25em;
    list-style-type: none;
}

/* ---- Portfolio ----*/

.portfolio {
    text-align: center;
}

/* ---- Pseudo Classes ---- */

.name:hover,
.main-nav a:hover {
    color: aqua;
}


/* ================================= 
  Base styles
==================================== */

/* ---- ID selectors ---- */


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    
    
    
    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
    }
    
    .main-nav li {
        float: right;
    }
    
    
    .name {
        float: left;
        padding-left: 15px;
    }
    
    .profile-pic {
        float: right;
        margin-right: 5em;
        padding-left: 10px;
    }
    
    .intro-p {
        font-size: 1.75em;
        padding: 0 15px;
    }
    
    .portfolio {
        background: #fff;
        margin: 6em auto 0;
        width: 90%;
        padding: 20px;
    }
    
    .marketing,
    .search-page,    
    .travel-app,
    .map,
    .photo-gallery,
    .calc {
        float: left;
        width: 50%;
        min-height: 375px;
    }
    
    .marketing img,
    .search-page img,
    .travel-app img,
    .map img,
    .photo-gallery img,
    .calc img {
        width: 90%;
    }
    

    /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1024px) {
    
    .marketing,
    .search-page,    
    .travel-app,
    .map,
    .photo-gallery,
    .calc {
        width: 33.333%;
    }
    
}