
/* ================================= 
  Base styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    color: #121212;
    background-color: #FAFAFA;  
}

a,
i {
    text-decoration: none;
    transition: .5s;
}

h1 {
    color: #121212;
}

li {
    list-style-type: none;
}

ul {
    padding: inherit

}

.main-header,
#social,
.main-footer,
#contact,
#port {
    letter-spacing: 1px;
}



/* ================================= 
  Base styles
==================================== */

/* ---- Navigation ---- */

.name {
    font-size: 2em;
    margin: 0;
}

.name a,
.foot-name a {
    color: peru;
}
.name,
.main-nav  {
    margin-top: 5px;
    text-align: center;
}

.main-nav a,
.name {
    display: block;
    padding: 10px 15px;
    text-align: center;

}

.main-nav a {
    text-transform: uppercase;
    color: black;
    
}


.main-nav li {
    font-weight: bold;
    list-style-type: none;
}

.main-header {
    padding: .5em 0;
    width: 100%;
}

.main-footer {
    text-align: center;
}

/* ---- Portfolio ----*/

.portfolio,
.profile-pic{
    text-align: center;
    background: linear-gradient(to bottom, aqua, #FAFAFA 95%);
    box-shadow: 1px 0 5px,
                -1px 0 5px;
    border-radius: 10px;
}

.profile-pic {
    border-radius: 10px;
}
/* ---- Contact ----*/



/* ---- Socials ----*/

.fa-twitter:hover {
  color: #2DAAE1;
}

.fa-instagram:hover {
  color: orange;
}

.fa-github:hover {
  color: gray; 
}

.fa-linkedin:hover {
  color: #0077B7;
}

.fa-twitch:hover {
    color: #9246FF;
}

.social ul li {
  display: inline-block;
  padding: 0 5px;
}

.social a {
    font-size: 1.5em;
    color: black;
}

/* ---- Pseudo Classes ---- */

.name a:hover,
.main-nav a:hover,
.contact span a:hover,
.foot-name a:hover{
    color: aqua;
}


/* ================================= 
  Base styles
==================================== */
 
    #home,
    #portfolio,
    #cont,
    #social-media {
        display: none;
    }
    
    .foot-name {
        float: left;

    }
    
    #top {
        font-size: 1.2em;
    }
    
    .main-footer {
        border-top: 2px solid #EDEDED;
        padding-top: 1px;
        font-size: 0.6em;
    }
    
    .main-nav li {
        background-color: #fff;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    
    #top {
        display: block;
        float: right;
    }
    
    .profile-pic {
        width: 100%
    }
    
    .intro-p{
        text-align: center;
        font-size: 1.25em;
    }
    
    .marketing img,
    .search-page img,
    .travel-app img,
    .map img,
    .photo-gallery img,
    .calc img {
        width: 90%;
        transition: .5s;
    }

    .marketing img:hover,
    .search-page img:hover,
    .travel-app img:hover,
    .map img:hover,
    .photo-gallery img:hover,
    .calc img:hover {
        transform: scale(1.1)
    }
    
    .contact {
        text-align: center;
        width: 100%;
        margin: 6em 0
    }
    
    .contact span {
        display: block;
        font-size: 1.25em;
        margin-top: 10px;
    }
    
    .contact p {
        font-size: 1.25em
    }
    
    .marketing p,
    .search-page p,    
    .travel-app p,
    .map p,
    .photo-gallery p,
    .calc p {
        font-size: 1.25em;
        padding: 0 10px
    }
    
    .portfolio {
        padding: 20px;
    }
    
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    
 
    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
    }
    
    .main-nav li {
        background-color: transparent;
    }
    
    #home,
    #portfolio,
    #cont,
    #social-media{
        display: contents;
    }
    
    #top {
        display: none;
    }
    
    .foot-nav {
        float: right;
    }
    
    .foot-nav li {
        display: inline-block;
        margin-left: 15px;
    }
    
    .main-nav li {
        display: inline-block;
    }
    
    .foot-name {
        float: left;
    }
    
    .profile-pic {
        float: right;
        width: 377px;
    }
    
    .portfolio {
        margin: 9em auto 0;
        width: 90%;
        padding: 20px;
    }
    
    .marketing p,
    .search-page p,    
    .travel-app p,
    .map p,
    .photo-gallery p,
    .calc p {
        font-size: 1.1em;
        padding: 0 10px;
    }
    
    .marketing,
    .search-page,    
    .travel-app,
    .map,
    .photo-gallery,
    .calc {
        float: left;
        width: 50%;
        min-height: 375px;
        padding-left: 5px;
    }
    
    .main-footer {
        font-size: .8em;
    }
    
    .intro-p {
        width: 56%;
        text-align: left;
        padding-right: 50px;
        font-size: 1.4em;
    }
    
        
    .contact {
        text-align: center;
        width: 60%;
        margin: 50px auto;
    }
    
    .contact span {
        display: block;
        font-size: 1.25em;
        margin-top: 10px;
    }
    
    .contact p {
        font-size: 1.25em
    }

    /* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1024px) {

    .marketing,
    .search-page,    
    .travel-app,
    .map,
    .photo-gallery,
    .calc {
        width: 33.333%;
        padding: 0 0 0 10px;;
    }
    
    .intro-p {
        width: 60%;
        font-size: 1.75em;
        padding-right: 50px;
    }
    
    .main-nav {
        float: right;
    }
    
    .main-nav li {
        display: inline-block;
        margin-left: 15px;
    }
    
    .name {
        float: left;
    }
     
    .profile-pic {
        margin-right: 48px;

    }
    
    .main-footer {
        font-size: .85em;
    }
}